<h6 class="display-5 text-center">Lançamento Financeiro</h6>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="form-group">
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 80px;">Data</span>
            </div>
            <input name="date" #date="ngModel" [(ngModel)]="service.formData.date"
                class="form-control datetimepicker-input" data-target="#datetimepicker1" required />
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 80px;">Valor</span>
            </div>
            <input type="number" name="value" #value="ngModel" [(ngModel)]="service.formData.value" class="form-control"
                placeholder="Entre com o valor..." required>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" style="width: 80px;">Tipo</label>
        </div>
        <select name="type" #type="ngModel" [(ngModel)]="service.formData.type" class="custom-select"
            id="inputGroupSelect01" placeholder="Escolha o status" required>
            <option type="number" [ngValue]=0>Crédito</option>
            <option type="number" [ngValue]=1>Débito</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect02" style="width: 80px; margin-bottom: 17px;">Status</label>
        </div>
        <select name="status" #status="ngModel" [(ngModel)]="service.formData.status" class="custom-select"
            id="inputGroupSelect02">
            <option [ngValue]='0'>Conciliado</option>
            <option [ngValue]='1'>Não Conciliado</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-md btn-block" type="submit" [disabled]="form.invalid">Enviar</button>
    </div>
</form>